<aside>
	<div class="panel radius">
		<h3>Liang</h3>
		<p>
			A designer living in Vancouver with his many years experiences in architectural design and constrution.
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="/images/widget-1-302x182.jpg" alt="uh, house design">
		<p class="text-left">
			This is Liang design studio! <a href="http://ld.olim.ca/" target="">Click if you like!</a>
		</p>
	</div>
</aside>
